{% extends "layout.html" %}
{% block body %}
<style>
  table {
    border:1px solid black;
    width:90%;
    border-collapse:collapse;
  }
  th {
    background-color: #377ba8;
    color: white;
  }
  th, td {
    border: 1px solid black;
    text-align:left; 
    padding:15px;
    width:20%;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
  input {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
  }
  form {
    margin: 10px 0;
  }

</style>
  <h2>Course List</h2>
  <form action="{{ url_for('course') }}" method="post">
    <input type="text" placeholder="Search.." name = "condition">
    <input type="submit" value="依課名查詢" name = "search">
    <input type="submit" value="依教授查詢" name = "search">
    <input type="submit" value="依學校查詢" name = "search">
  </form>
  {% for course in courses %}
    <table>
      <tr>
        <th>課程名稱</th>
        <th>任課教授</th>
        <th>學校</th>
        <th>先修</th>
        <th>擋修</th>
        <th>網站</th>
      </tr>
      {% for row in course %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td><a href="{{ row[5] }}">{{ row[5] }}</a></td>
      </tr>
      {% endfor %}
    </table>
  {% endfor %}
	
{% endblock %}